  
  
  
    <nz-divider></nz-divider>
  
<div nz-row>
    <div nz-col [nzSpan]="24" class="search-area">
      <button nz-button nzType="primary"  (click)="openAddModal()" >Thêm mới employee</button>

    </div>
</div>
  <h2 class="text-center" style="margin-top: 48px;">Employee List</h2>
  <nz-table nzTableLayout="fixed" nzSize="middle" [nzData]="employees" [nzPageIndex]="page" [nzPageSize]="size"
  [nzShowTotal]="showTotal" nzShowPagination nzShowSizeChanger
      [nzTotal]="total"
       >
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Email Id</th>
        <th style="width: 10%;">Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.firstName }}</td>
        <td>{{ employee.lastName }}</td>
        <td>{{ employee.age }}</td>
        <td>{{ employee.emailId }}</td>
        <td>
          <i nz-icon nzType="edit" nzTheme="outline" (click)="openUpdateModal(employee.id)" style="margin-right: 15px"></i>
          <i nz-icon nzType="delete" nzTheme="outline"  (click)="openDeleteModal(employee.id)" style="margin-right: 15px"></i>
          <i nz-icon nzType="folder-view" nzTheme="outline" (click)="openViewModal(employee.id)" ></i>

        </td>
      </tr>
    </tbody>
  </nz-table>
  <ng-template #showTotal>
    Có {{total}} kết quả được tìm thấy
</ng-template>

<nz-modal [(nzVisible)]="isModalVisible" nzTitle="Confirm Delete" (nzOnCancel)="closeDeleteModal()" (nzOnOk)="deleteEmployeeConfirmed()">
  <p>Are you sure you want to delete this employee?</p>
</nz-modal>