<div class="col-md-6 offset-md-3">
  <h1>Update User</h1>
  <form nz-form [nzLayout]="'vertical'" (ngSubmit)="saveUser()">
    <div nz-form-item>
      <nz-form-label [nzRequired]="true">username</nz-form-label>
      <nz-form-control>
        <input
          nz-input
          type="text"
          id="username"
          [(ngModel)]="user.username"
          name="username"
        />
      </nz-form-control>
    </div>
    <div nz-form-item>
      <nz-form-label [nzRequired]="true">email</nz-form-label>
      <nz-form-control>
        <input
          nz-input
          type="text"
          id="email"
          [(ngModel)]="user.email"
          name="email"
        />
      </nz-form-control>
    </div>
    <div nz-form-item>
      <nz-form-label [nzRequired]="true">name</nz-form-label>
      <nz-form-control>
        <input
          nz-input
          type="text"
          id="name"
          [(ngModel)]="user.name"
          name="name"
        />
      </nz-form-control>
    </div>
    <div nz-form-item>
      <nz-form-label [nzRequired]="true">position</nz-form-label>
      <nz-form-control>
        <input
          nz-input
          type="text"
          id="position"
          [(ngModel)]="user.position"
          position="position"
        />
      </nz-form-control>
    </div>
    <div nz-form-item>
      <nz-form-label [nzRequired]="true">age</nz-form-label>
      <nz-form-control>
        <input
          nz-input
          type="number"
          id="age"
          [(ngModel)]="user.age"
          name="age"
        />
      </nz-form-control>
    </div>
    <!-- <div nz-form-item>
      <nz-form-label [nzRequired]="true">password</nz-form-label>
      <nz-form-control>
        <input
          nz-input
          type="text"
          id="password"
          [(ngModel)]="user.password"
          name="password"
        />
      </nz-form-control>
    </div> -->
    <div nz-form-item>
      <nz-form-label [nzRequired]="true">role</nz-form-label>
      <nz-form-control>
        <nz-select
          nzMode="multiple"
          nzPlaceHolder="Select roles"
          [(ngModel)]="selectedRoles"
          name="roles"
        >
          <nz-option
            *ngFor="let role of roleOptions"
            [nzLabel]="role.name"
            [nzValue]="role.name"
          ></nz-option>
        </nz-select>
      </nz-form-control>
    </div>
    <div nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary" type="submit">Submit</button>
      </nz-form-control>
    </div>
  </form>
</div>
