<div class="container" *ngIf="currentUser; else loggedOut">
  <img
    src="https://o.vdoc.vn/data/image/2022/11/17/hinh-nen-meo-15.jpg"
    alt="Ảnh vuông"
    style="
      float: right;
      width: 200px;
      height: 200px;
      margin-right: 150px;
      margin-bottom: 10px;
    "
  />

  <header class="jumbotron">
    <h1>
      <strong>{{ currentUser.username }}</strong> Profile
    </h1>
  </header>
  <h2>
    <strong>Email:</strong>
    {{ currentUser.email }}
  </h2>
  <h2>
    <strong>Họ và Tên:</strong>
    {{ currentUser.name }}
  </h2>
  <h2>
    <strong>Chức Vụ:</strong>
    {{ currentUser.position }}
  </h2>
  <h2>
    <strong>Tuổi:</strong>
    {{ currentUser.age }}
  </h2>

  <h2><strong>Roles:</strong></h2>
  <ul>
    <li *ngFor="let role of currentUser.roles">
      {{ role }}
    </li>
  </ul>
</div>

<ng-template #loggedOut> Please login. </ng-template>
