.form-background {
  margin-block-start: 36px;
  display: flex;
  justify-content: center;
  block-size: 100vh;
}

.card-container {
  max-inline-size: 300px;
  padding: 20px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.profile-img-card {
  inline-size: 96px;
  block-size: 96px;
  border-radius: 50%;
  margin: 0 auto;
  margin-block-end: 20px;
  display: block;
  margin-inline-start: auto;
  margin-inline-end: auto;
}


.form-group {
  margin-block-end: 15px;
}

.invalid-feedback {
  color: #f5222d;
  font-size: 12px;
}

.alert {
  margin-block-end: 15px;
}

.alert-warning {
  color: #faad14;
  background-color: #fffbe6;
  border-color: #ffe58f;
}

.alert-success {
  color: #52c41a;
  background-color: #f6ffed;
  border-color: #b7eb8f;
}

button[nz-button] {
  inline-size: 100%;
}

button[nz-button][nzType="primary"] {
  background-color: #1890ff;
  border-color: #1890ff;
}

button[nz-button][nzType="primary"]:hover,
button[nz-button][nzType="primary"]:focus {
  background-color: #40a9ff;
  border-color: #40a9ff;
}
