<div class="col-md-6 offset-md-3">
  <h1>Thêm Mới Role</h1>
  <form nz-form [nzLayout]="'vertical'" (ngSubmit)="onSubmit()">
    <div nz-form-item>
      <nz-form-label [nzRequired]="true">tên vai trò</nz-form-label>
      <nz-form-control>
        <input
          nz-input
          type="text"
          id="name"
          [(ngModel)]="role.name"
          name="name"
        />
      </nz-form-control>
    </div>
    <div nz-form-item>
      <nz-form-label [nzRequired]="true">Mã</nz-form-label>
      <nz-form-control>
        <input
          nz-input
          type="text"
          id="code"
          [(ngModel)]="role.code"
          name="code"
        />
      </nz-form-control>
    </div>
    <div nz-form-item>
      <nz-form-label [nzRequired]="true">mô tả</nz-form-label>
      <nz-form-control>
        <input
          nz-input
          type="text"
          id="description"
          [(ngModel)]="role.description"
          name="description"
        />
      </nz-form-control>
    </div>

    <div nz-form-item>
      <nz-form-control>
        <button
          class="submit-container"
          nz-button
          nzType="primary"
          type="submit"
        >
          Submit
        </button>
      </nz-form-control>
    </div>
  </form>
</div>
