<div *ngFor="let role of roles">
  
  <h2>{{role}}</h2>
  <button nz-button nzType="primary" (click)="toggleTable(role)">Detail</button>
  <span class="button-spacing"></span>
  <button nz-button nzType="primary" (click)="showModal(role)">Edit</button>

  <li *ngFor="let menu of menuByRole[role]">
    <nz-table nzTableLayout="fixed" nzSize="middle" class="custom-table" [nzData]="['']"
      [nzShowPagination]="false" [hidden]="!showTables[role]">
      <thead>
        <tr>
          <th>id</th>
          <th>menu</th>
          <th>code</th>
          <th>url</th>
          <th>urlparent</th>
          <th>description</th>
          <th>icon</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ menu.id }}</td>
          <td>{{ menu.nameMenu }}</td>
          <td>{{ menu.code }}</td>
          <td>{{ menu.url }}</td>
          <td>{{ menu.urlParent }}</td>
          <td>{{ menu.description }}</td>
          <td>{{ menu.icon }}</td>

        </tr>
      </tbody>
    </nz-table>
  </li>
</div>
<nz-modal [(nzVisible)]="isVisible" [nzTitle]="'Edit menu by ' + currentRole" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
     <<nz-select
     [nzMaxTagCount]="7"
     [nzMaxTagPlaceholder]="tagPlaceHolder"
     nzMode="multiple"
     nzPlaceHolder="Please select"
     [(ngModel)]="listOfSelectedValue"
     (ngModelChange)="selectedMenuIds = $event" 
     [nzData]="menus"
   >
     <nz-option *ngFor="let item of menus" [nzLabel]="item.nameMenu" [nzValue]="item.id">
         
     </nz-option>
   </nz-select>
   
  <ng-template #tagPlaceHolder let-selectedList>and {{ selectedList.length }} more selected</ng-template>
  </ng-container>
</nz-modal>