<div class="col-md-6 offset-md-3">
  <h1>Create User (Register)</h1>
  <form nz-form [nzLayout]="'vertical'" (ngSubmit)="onSubmit()">
    <div nz-form-item>
      <nz-form-label [nzRequired]="true">username</nz-form-label>
      <nz-form-control>
        <input
          nz-input
          type="text"
          id="userName"
          [(ngModel)]="user.username"
          name="username"
        />
      </nz-form-control>
    </div>
    <div nz-form-item>
      <nz-form-label [nzRequired]="true">Email</nz-form-label>
      <nz-form-control>
        <input
          nz-input
          type="text"
          id="emailId"
          [(ngModel)]="user.email"
          name="email"
        />
      </nz-form-control>
    </div>
    <div nz-form-item>
      <nz-form-label [nzRequired]="true">Tên</nz-form-label>
      <nz-form-control>
        <input
          nz-input
          type="text"
          id="nameId"
          [(ngModel)]="user.name"
          name="name"
        />
      </nz-form-control>
    </div>
    <div nz-form-item>
      <nz-form-label [nzRequired]="true">Chức vụ</nz-form-label>
      <nz-form-control>
        <input
          nz-input
          type="text"
          id="position"
          [(ngModel)]="user.position"
          name="position"
        />
      </nz-form-control>
    </div>
    <div nz-form-item>
      <nz-form-label [nzRequired]="true">Tuổi</nz-form-label>
      <nz-form-control>
        <input
          nz-input
          type="number"
          id="age"
          [(ngModel)]="user.age"
          name="age"
        />
      </nz-form-control>
    </div>
    <div nz-form-item>
      <nz-form-label [nzRequired]="true">password</nz-form-label>
      <nz-form-control>
        <input
          nz-input
          type="password"
          id="password"
          [(ngModel)]="user.password"
          name="password"
        />
      </nz-form-control>
    </div>
    <div nz-form-item>
      <nz-form-label [nzRequired]="true">Roles</nz-form-label>
      <nz-form-control>
        <nz-select
          nzMode="multiple"
          nzPlaceHolder="Select roles"
          [(ngModel)]="selectedRoles"
          name="roles"
        >
          <nz-option
            *ngFor="let role of roles"
            [nzLabel]="role.name"
            [nzValue]="role.name"
          ></nz-option>
        </nz-select>
      </nz-form-control>
    </div>

    <div nz-form-item>
      <nz-form-control>
        <button
          class="submit-container"
          nz-button
          nzType="primary"
          type="submit"
        >
          Submit
        </button>
      </nz-form-control>
    </div>
  </form>
</div>
