<div class="col-md-6 offset-md-3">
  <h1>Update Role</h1>
  <form nz-form [nzLayout]="'vertical'" (ngSubmit)="saveRole()">
    <div nz-form-item>
      <nz-form-label [nzRequired]="true">Tên role</nz-form-label>
      <nz-form-control>
        <input
          nz-input
          type="text"
          id="name"
          [(ngModel)]="role.name"
          name="name"
        />
      </nz-form-control>
    </div>
    <div nz-form-item>
      <nz-form-label [nzRequired]="true">Mã</nz-form-label>
      <nz-form-control>
        <input
          nz-input
          type="text"
          id="code"
          [(ngModel)]="role.code"
          name="code"
        />
      </nz-form-control>
    </div>
    <div nz-form-item>
      <nz-form-label [nzRequired]="true">Mô tả</nz-form-label>
      <nz-form-control>
        <input
          nz-input
          type="text"
          id="description"
          [(ngModel)]="role.description"
          name="description"
        />
      </nz-form-control>
    </div>
    <div nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary" type="submit">Submit</button>
      </nz-form-control>
    </div>
  </form>
</div>
